<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


    <context:component-scan base-package="com.ss">
        <!--扫描指定包的组件，除了 @Controller注解的组件-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>

    </context:component-scan>

          <!-- ignore-unresolvable：是否忽略解析不到的属性，如果不忽略，找不到将抛出异常 classpath: -->
    <context:property-placeholder location="classpath:db.properties" />

    <!--配置数据库连接，C3P0连接池
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driver}" />
        <property name="jdbcUrl" value="${url}" />
        <property name="user" value="${username}" />
        <property name="password" value="${password}" />
    </bean>
-->
    <!-- 配置数据源 -->
    <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init" destroy-method="close">
        <!--这一项可不配，会根据url自动选择驱动
        <property name="driverClassName" value="${driver}" />-->
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="0"/>
        <!-- 连接池最大使用连接数量 -->
        <property name="maxActive" value="20"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="0"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="60000"/>
        <!-- validationQuery是用来验证数据库连接的查询语句，这个查询语句必须是至少返回一条数据的SELECT语句 -->
        <property name="validationQuery" value="${validationQuery}"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>
        <property name="testWhileIdle" value="true"/>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="25200000"/>
        <!-- 打开removeAbandoned功能 -->
        <property name="removeAbandoned" value="true"/>
        <!-- 1800秒，也就是30分钟 -->
        <property name="removeAbandonedTimeout" value="1800"/>
        <!-- 关闭abanded连接时输出错误日志 -->
        <property name="logAbandoned" value="true"/>
        <!-- 监控数据库 -->
        <!-- <property name="filters" value="stat" /> -->
        <property name="filters" value="mergeStat"/>
    </bean>



    <!--使用mybatis的spring整合包下的SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
       <!-- <property name="configLocation" value="mybatis-config.xml"/>-->
        <!-- 自动扫描该目录下的所有 .xml 配置文件-->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>



    <!--自动扫描mapper包下的mapper接口以及xml映射文件，来管理mapper代理对象注入到spring容器中-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定扫描的包名
            如果扫描多个包，每个包中间使用半角逗号分隔
         -->
        <property name="basePackage" value="com.ss.Dao"/>
    </bean>



    <!--
    <aop:config proxy-target-class="true" />
    <aop:config>
        &lt;!&ndash;定义切面&ndash;&gt;
        <aop:pointcut expression="execution(* com.ss.service.Impl.*ServiceImpl.*(..))" id="logPointCut"/>
        <aop:aspect id="logAspect" ref="logInterceptor">
            &lt;!&ndash; 定义切入点 (配置在com.ss.controller下所有的类在调用之前都会被拦截)&ndash;&gt;
            &lt;!&ndash;方法执行之前被调用执行的&ndash;&gt;
            &lt;!&ndash;  <aop:before method="beforeMethod" pointcut-ref="logPointCut"/>&lt;!&ndash;一个切入点的引用&ndash;&gt;
              <aop:after method="afterMethod" pointcut-ref="logPointCut"/>一个切入点的引用&ndash;&gt;
            <aop:around method="Around" pointcut-ref="logPointCut"/>
        </aop:aspect>
    </aop:config>
-->



</beans>